.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: flex-end;
    gap: 10px;

}

.imageAndText {
    flex-direction: row-reverse;
    text-align: right;
    display: flex;
    align-items: center;
}

.imageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 10px 10px 1px 10px;
    text-align: right;
}

.text:after {

}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageText {

}

.time {
    font-size: 0.8rem;
    margin-top: auto;
    color: #ccc;
}