.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: white;
    padding: 20px;
    transition: left .3s ease;
    z-index: 100;
}

.sidebar.open {
    left: 0;
}

.background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 90;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.nav a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

.nav a:hover {
    opacity: .6;
}

.nav a.active {
    font-weight: 700;
    color: black;
}

.close {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px
}

.close img {
    width: 24px;
}





