.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, color 0.3s;
    color: #7365cb; /* суперинпут по умолчанию */
}

.input:focus {
    border-color: #d01a1a;
    color: #d01a1a;
}

.superInput {
    color: #7365cb;
}

.errorInput {
    border-color: #981616;
    color: #830b0b;
}

.errorInput:focus {
    border-color: #f31111;
}

.error {
    margin-top: 5px;
    font-size: 12px;
    color: #cc2126;
}