.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, color 0.3s;
    color: #7365cb; /* обычный цвет текста */
}

.input:focus {
    border-color: #f17a03;
    color: #f17a03;
}

.superInput {
    color: #7365cb;
}

.errorInput {
    border-color: red;
    color: red;
}

.errorInput:focus {
    border-color: red;
}

.error {
    margin-top: 5px;
    font-size: 12px;
    color: red; /* цвет текста ошибки */
}