.friendMessage {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.friendImageAndText {
    display: flex;
    align-items: center;
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friendText {
    position: relative;
    padding: 10px 15px;
    border-radius: 10px 10px 10px 1px;
    background-color: #e9ecef;
}

.friendText:after {

}

.friendName {
    font-weight: bold;
    color: #333;
}

.friendMessageText {
    margin-top: 5px;
    /*white-space: pre-wrap;*/
}

.friendTime {
    font-size: 0.8rem;
    display: flex;
    margin-top: auto;
    color: #999;

}
