.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.error {
    color: red;
}

.input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    height: 30px;
    width: 300px;
    border: 2px solid red;
    border-radius: 5px;
}

.button {
    height: 30px;
    width: 80px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.button:focus {
    background-color: #007bff;
    color: white;
}

.button:active {
    background-color: #007bff;
    color: white;
}

.button:disabled {
    background-color: #8aadd3;
}

.text {
}

.greeting {
}
