.button {
    height: 30px;
    width: 120px;
    border-radius: 5px;
}

.disabled {
    color: #7365cb;
    background-color: #7f21da;
}

.secondary {
    color: #4a85ef;
    background-color: #f6f5f6;
    border: 1px solid #4a85ef;
}

.default {
    color: #f9f9fa;
    background-color: #3b62d6;
    border: 1px solid #3b62d6;
}

.red {
    color: #f8f6f6;
    background-color: #f31111;
    border: 1px solid #f31111;

}

.default:hover {
    height: 30px;
    width: 200px;
    color: #f9f9fa;
    background-color: #3b62d6;
    border: 1px solid #3b62d6;
}

.red:hover {
    height: 30px;
    width: 200px;
    color: #f8f6f6;
    background-color: #f31111;
}

.secondary:hover {
    height: 30px;
    width: 200px;
    color: #4a85ef;
    background-color: #f7f8fa;
    border: 1px solid #3b62d6;
}


.default:active {
    height: 30px;
    width: 200px;
    color: #f9f9fa;
    background-color: #1947d3;
    border: 1px solid #1942ba;
}

.secondary:active {
    height: 30px;
    width: 200px;
    color: #4a85ef;
    background-color: #f7f8fa;
    border: 1px solid #3b62d6;
}

.red:active {
    height: 30px;
    width: 200px;
    color: #f8f6f6;
    background-color: #b50909;
}

.button:disabled {
    height: 30px;
    width: 120px;
    color: #7e7373;
    background-color: #909eca;

}
